body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk', sans-serif;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.summery_text {
  color: hsla(0, 0%, 100%, 0.8);
}
.ratingTen {
  color: hsla(0, 0%, 100%, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select:hover {
  cursor: pointer;
  background: #fff;
  color: #000;
}
.active {
  transition: all 1.2s ease-in-out;
  border-radius: 30px;
  background-color: #fff;
}
.active > p {
  color: #000;
}
.poster_hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.poster_hover:hover {
  transform: translateY(-1rem);
  box-shadow: rgb(255 255 255 / 56%) 7px 3px 6px 2px;
}

.auth_shown {
  display: block;
}
.auth_hidden {
  display: none;
  color: rgb(255, 99, 71);
}
